<div class="row">
  {{#each model as |sighting|}}
    <div class="col-xs-12 col-sm-3 text-center">
      {{#listing-item imagePath=sighting.cryptid.profileImg name=sighting.cryptid.name}}
      {{/listing-item}}
    </div>
  {{/each}}
</div>
